<!DOCTYPE html>
<html>
    <head>
        <title>
            Playing With Django
        </title>
    </head>
    <body>
        {% include 'navbar.html' %}

        {% block content_home %}
        {% endblock %}
        {% block content_contact %}
        {% endblock %}
        {% block content_testing_detail %}
        {% endblock %}
        {% block form_content %}
        {% endblock %}
        {% block delete_content %}
        {% endblock %}
        {% block testing_list %}
        {% endblock %}
    </body>
</html>